
@{
    ViewData["Title"] = "Index";
}

@model CategoryProductVM


<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3>Ürünler</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-group">
                        @foreach (Category item in Model.Categories)
                        {
                            <li class="list-group-item"><a class="btn" asp-controller="Category" asp-action="Index" asp-route-id="@item.CategoryID">@item.CategoryName</a></li>
                        }
                    </ul>
                </div>
                <div class="col-lg-9">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ürün Adı</th>
                                <th>Fiyat</th>
                                <th>Stok</th>
                                <th><a class="btn btn-success" asp-controller="Product" asp-action="Insert">Ürün Ekle</a></th>
                            </tr>
                        </thead>
                        <tbody>
                          <partial name="_productList"/>
                        </tbody>
                       


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


