
@model List<Product>
<tbody>

    @foreach (Product item in Model)
    {
        <tr>

            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Stock</td>
            <td>@item.Price</td>
        </tr>

    }

</tbody>