
@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Product item in Model)
                {
                    <tr>

                        <td>@item.ProductID</td>
                        <td>@item.ProductName</td>
                        <td>@item.Stock</td>
                        <td>@item.Price</td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

